@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Mark!</h1>
<h2>待在彰化的小小工程師</h2>
<p3>
    初出社會用WinForm在PDA上跑WMS，串接客戶ERP中繼表交握資料<br>
    接著又去賣了兩年模擬軟體，推廣公司代理軟體，幫客戶上上課，用Xamarin拉了簡易APP賣給客戶登錄資料<br>
    到驗車產業待了兩年，開發系統整合內部流程，串接鼎新ERP<br>
    到電輔車產業待了一年，使用定義好的通訊連車，使用WPF檢測產線上PCB板流程<br>
    因緣際會回到驗車產業<br>
</p3>

<p>專長：</p>
<ol>
    <li>6年 WinForm</li>
    <li>2年 WPF</li>
</ol>

<p>略懂：</p>
<ol>
    <li>SQL</li>
    <li>Xamarin</li>
</ol>

<p>Lowcode：</p>
<ul>
    <li>Thunkable</li>
    <li>Outsystem</li>
</ul>

<p>練習中：</p>
<ul>
    <li>Blazor</li>
    <li>Azure 部署</li>
</ul>

<p>朝全端工程師努力！加油！🚀</p>


<p>
    <ServerTime format="tt hh:mm:ss" />
</p>

@code{
    
}